body{
    background-color: rgb(182, 220, 255);
}
h1 {
    font-family: verdana;
    font-size: 50;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    color: rgb(40, 40, 40);
    font-size: 15px;
  }